In [145]:
import pandas as pd
from haversine import haversine

In [38]:
df = pd.read_csv('단속건수36이하.csv', encoding='cp949')

In [39]:
df.drop(['Unnamed: 0'],axis =1, inplace = True)

In [40]:
df

                            단속장소           X          Y  단속건수
0             서울특별시 양천구 목동 901-3  126.872374  37.537457    48
1            서울특별시 양천구 신정동 212-1  126.866868  37.509881   117
2    서울특별시 양천구 신정7 목동파크자이아파트 정문   126.855695  37.515174   556
3       서울특별시 양천구 신정동 신정기독교 백화점   126.852776  37.519932   261
4              서울특별시 양천구 신정동 311  126.857833  37.514988   131
..                           ...         ...        ...   ...
151          서울특별시 양천구 목동 현대파크빌   126.867165  37.542323   143
152      서울특별시 양천구 신월동 신월3동 우체국   126.828695  37.534653    48
153     서울특별시 양천구 신월1동곰달래로11길 56  126.834302  37.526589    57
154    서울특별시 양천구 목동 목1동 서가앤쿡 목동점  126.869250  37.525320   237
155       서울특별시 양천구 목동 보미진온누리약국   126.864081  37.549686   103

[156 rows x 4 columns]

In [41]:
df['number'] = 0

In [42]:
df

                            단속장소           X          Y  단속건수  number
0             서울특별시 양천구 목동 901-3  126.872374  37.537457    48       0
1            서울특별시 양천구 신정동 212-1  126.866868  37.509881   117       0
2    서울특별시 양천구 신정7 목동파크자이아파트 정문   126.855695  37.515174   556       0
3       서울특별시 양천구 신정동 신정기독교 백화점   126.852776  37.519932   261       0
4              서울특별시 양천구 신정동 311  126.857833  37.514988   131       0
..                           ...         ...        ...   ...     ...
151          서울특별시 양천구 목동 현대파크빌   126.867165  37.542323   143       0
152      서울특별시 양천구 신월동 신월3동 우체국   126.828695  37.534653    48       0
153     서울특별시 양천구 신월1동곰달래로11길 56  126.834302  37.526589    57       0
154    서울특별시 양천구 목동 목1동 서가앤쿡 목동점  126.869250  37.525320   237       0
155       서울특별시 양천구 목동 보미진온누리약국   126.864081  37.549686   103       0

[156 rows x 5 columns]

In [43]:
df[df['단속장소'] == '서울특별시 양천구 신월3동신원초교']

                   단속장소           X          Y  단속건수  number
122  서울특별시 양천구 신월3동신원초교  126.829355  37.545372    83       0

In [45]:
df['number'][122] = 1

C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/2702595562.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['number'][122] = 1

def numbering_df(df):
    for i in range(1, len(df)+1):
        for j in range(len(df)):
            df[df['number'] == i]['X'] - df[df['number'] == j]

In [137]:
p1 = df[df['단속장소'] == '서울특별시 양천구 신정동 래미안아델리체']

p2 = df[df['단속장소'] == '서울특별시 양천구 신정동 326-4']

p3 = df[df['단속장소'] == '서울특별시 양천구 신정동 326']

p4 = df[df['단속장소'] == '서울특별시 양천구 신정동 337-16']

p5 = df[df['단속장소'] == '서울특별시 양천구 신정동 331-2']

p6 = df[df['단속장소'] == '서울특별시 양천구 목동 서울 양천구 목동 913-7']

p7 = df[df['단속장소'] == '서울특별시 양천구 목목동초원성원아파트']

p8 = df[df['단속장소'] == '서울특별시 양천구 목목동2차성원아파트']

In [138]:
p8

                     단속장소           X          Y  단속건수  number
121  서울특별시 양천구 목목동2차성원아파트  126.864154  37.542289    62       0

In [114]:
df

                            단속장소           X          Y  단속건수  number
0             서울특별시 양천구 목동 901-3  126.872374  37.537457    48       0
1            서울특별시 양천구 신정동 212-1  126.866868  37.509881   117       0
2    서울특별시 양천구 신정7 목동파크자이아파트 정문   126.855695  37.515174   556       0
3       서울특별시 양천구 신정동 신정기독교 백화점   126.852776  37.519932   261       0
4              서울특별시 양천구 신정동 311  126.857833  37.514988   131       0
..                           ...         ...        ...   ...     ...
151          서울특별시 양천구 목동 현대파크빌   126.867165  37.542323   143       0
152      서울특별시 양천구 신월동 신월3동 우체국   126.828695  37.534653    48       0
153     서울특별시 양천구 신월1동곰달래로11길 56  126.834302  37.526589    57       0
154    서울특별시 양천구 목동 목1동 서가앤쿡 목동점  126.869250  37.525320   237       0
155       서울특별시 양천구 목동 보미진온누리약국   126.864081  37.549686   103       0

[156 rows x 5 columns]

In [103]:
df_1 = df[df['X'] < p1['X'].values[0]]

In [104]:
df_1.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 53 entries, 12 to 153
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   단속장소    53 non-null     object
 1   X       53 non-null     float64
 2   Y       53 non-null     float64
 3   단속건수    53 non-null     int64
 4   number  53 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 2.5+ KB

In [187]:
df_1

                             단속장소           X          Y  단속건수  number
12          서울특별시 양천구 신월동 위브캐슬부동산  126.844434  37.519668    86       0
13          서울특별시 양천구 신월동 두산위브아파트  126.845099  37.519377    94       0
14        서울특별시 양천구 신월동 아이파크위브아파트  126.841612  37.517046    83       0
15          서울특별시 양천구 신월동 롯데캐슬아파트  126.840095  37.523706    44       0
21       서울특별시 양천구 신월3동 신월3동 우체국   126.828695  37.534653    60       0
23    서울특별시 양천구 신월6동 신곡시장(백십자약국)   126.842847  37.518740   299       0
29             서울특별시 양천구 신정동 댓골마을  126.836399  37.506966   406       0
34             서울특별시 양천구 신월동 디아이빌  126.828536  37.523451    73       0
37            서울특별시 양천구 신월동 행복부동산  126.841519  37.514633    81       0
38             서울특별시 양천구 신월동 신길운수  126.838258  37.529614   414       0
40            서울특별시 양천구 신월동 한백리츠빌  126.831214  37.534603    50       0
50            서울특별시 양천구 신월동 보람더하임  126.837570  37.525075    75       0
51           서울특별시 양천구 신월동 강서초등학교  126.840941  37.522637    38       0
63         서울특별시 양천구 신정 목동우성1차아파트  126.834506  37.506090    38       0
65          서울특별시 양천구 신월동 디아이빌아파트  126.828569  37.523434    72       0
66            서울특별시 양천구 신월동 신대림빌라  126.835736  37.528014    53       0
67            서울특별시 양천구 신월동 현대부동산  126.834418  37.530760    43       0
68             서울특별시 양천구 신월동 천성교회  126.838597  37.528685   153       0
69              서울특별시 양천구 신월동 빛고을  126.838074  37.529783    53       0
73           서울특별시 양천구 신월동 코아루아파트  126.829573  37.531708    49       0
80            서울특별시 양천구 신월동 신대림주택  126.835736  37.528014    70       0
81            서울특별시 양천구 신월동 해태아파트  126.843205  37.521519    67       0
87             서울특별시 양천구 신월동 서울택시  126.823590  37.535511    85       0
88              서울특별시 양천구 신월동 금융고  126.825747  37.537388   196       0
89              서울특별시 양천구 신월동 샤르망  126.838903  37.528487    97       0
92              서울특별시 양천구 신월동 신월중  126.828963  37.541024    51       0
93            서울특별시 양천구 신월동 신월중학교  126.828963  37.541024    40       0
94            서울특별시 양천구 신월동 강서경찰서  126.830222  37.539764    98       0
101           서울특별시 양천구 신월동 대근아트빌  126.828542  37.537158    52       0
104            서울특별시 양천구 신월동 송죽공원  126.833855  37.539400   141       0
108        서울특별시 양천구 신월1동월정로31길 9  126.834302  37.526589    57       0
109            서울특별시 양천구 신월동 삼오빌딩  126.833190  37.537018    50       0
115        서울특별시 양천구 신월동 방주기픈샘아파트  126.842754  37.525654    56       0
116            서울특별시 양천구 신정동 서남병원  126.833191  37.512619    43       0
117         서울특별시 양천구 신월동 신월보람더하임  126.837134  37.524805    44       0
118          서울특별시 양천구 신월동 아이파크위브  126.838674  37.524811    62       0
119        서울특별시 양천구 신월동 서울금융고등학교  126.825599  37.537811   114       0
122            서울특별시 양천구 신월3동신원초교  126.829355  37.545372    83       1
127          서울특별시 양천구 신월동 KB국민은행  126.833930  37.534335    55       0
133             서울특별시 양천구 신월동 273  126.828015  37.537837    46       0
135      서울특별시 양천구 신월동 수명산롯데캐슬아파트  126.828413  37.544168    44       0
136        서울특별시 양천구 신월3동남부순환로58길  126.834302  37.526589    46       0
138        서울특별시 양천구 신월6동남부순환로79길  126.834302  37.526589   114       0
139  서울특별시 양천구 신월동 서울 양천구 신월동 809  126.832249  37.529000    40       0
140  서울특별시 양천구 신월동 서울 양천구 신월동 834  126.838817  37.526361    65       0
141  서울특별시 양천구 신월동 서울 양천구 신월동 263  126.828964  37.535807    54       0
144  서울특별시 양천구 신월동 서울 양천구 신월동 258  126.825086  37.539279    58       0
145  서울특별시 양천구 신월동 서울 양천구 신월동 863  126.842640  37.526672    70       0
146  서울특별시 양천구 신월동 서울 양천구 신월동 896  126.845588  37.521208    48       0
148  서울특별시 양천구 신월동 서울 양천구 신월동 630  126.842070  37.518040    45       0
149  서울특별시 양천구 신월동 서울 양천구 신월동 216  126.835559  37.526068    38       0
152       서울특별시 양천구 신월동 신월3동 우체국   126.828695  37.534653    48       0
153      서울특별시 양천구 신월1동곰달래로11길 56  126.834302  37.526589    57       0

In [112]:
cond1 = df['X'] >= p1['X'].values[0]
cond2 = df['X'] < p2['X'].values[0]
cond3 = df['Y'] < p6['Y'].values[0]
df_2 = df[cond1 & cond2]

In [113]:
df_2.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 2 to 143
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   단속장소    23 non-null     object
 1   X       23 non-null     float64
 2   Y       23 non-null     float64
 3   단속건수    23 non-null     int64
 4   number  23 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.1+ KB

In [115]:
cond1 = df['X'] >= p2['X'].values[0]
cond2 = df['X'] < p4['X'].values[0]
cond3 = df['Y'] < p6['Y'].values[0]
df_3 = df[cond1 & cond2 & cond3]

In [116]:
df_3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 24 entries, 8 to 150
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   단속장소    24 non-null     object
 1   X       24 non-null     float64
 2   Y       24 non-null     float64
 3   단속건수    24 non-null     int64
 4   number  24 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.1+ KB

In [117]:
cond1 = df['X'] >= p4['X'].values[0]
cond2 = df['Y'] < p5['Y'].values[0]
df_4 = df[cond1 & cond2]

In [118]:
df_4.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 7 entries, 1 to 98
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   단속장소    7 non-null      object
 1   X       7 non-null      float64
 2   Y       7 non-null      float64
 3   단속건수    7 non-null      int64
 4   number  7 non-null      int64
dtypes: float64(2), int64(2), object(1)
memory usage: 336.0+ bytes

In [121]:
cond1 = df['Y'] >= p5['Y'].values[0]
cond2 = df['Y'] < p6['Y'].values[0]
cond3 = df['X'] > p4['X'].values[0]
df_5 = df[cond1 & cond2 & cond3]

In [122]:
df_5.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 18 entries, 5 to 154
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   단속장소    18 non-null     object
 1   X       18 non-null     float64
 2   Y       18 non-null     float64
 3   단속건수    18 non-null     int64
 4   number  18 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 864.0+ bytes

In [139]:
cond1 = df['Y'] >= p6['Y'].values[0]
cond2 = df['Y'] < p8['Y'].values[0]
cond3 = df['X'] >= p1['X'].values[0]
df_6 = df[cond1&cond2&cond3]

In [141]:
df_6.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 23 entries, 0 to 147
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   단속장소    23 non-null     object
 1   X       23 non-null     float64
 2   Y       23 non-null     float64
 3   단속건수    23 non-null     int64
 4   number  23 non-null     int64
dtypes: float64(2), int64(2), object(1)
memory usage: 1.1+ KB

In [143]:
cond1 = df['X'] >= p1['X'].values[0]
cond2 = df['Y'] >= p8['Y'].values[0]
df_7 = df[cond1&cond2]

In [144]:
df_7.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 8 entries, 6 to 155
Data columns (total 5 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   단속장소    8 non-null      object
 1   X       8 non-null      float64
 2   Y       8 non-null      float64
 3   단속건수    8 non-null      int64
 4   number  8 non-null      int64
dtypes: float64(2), int64(2), object(1)
memory usage: 384.0+ bytes

In [207]:
def re_index(df):
    df.reset_index(inplace = True)
    df.drop('index', axis = 1, inplace = True)
    return df

In [208]:
for i in range(1, 8):
    re_index(globals()[f'df_{i}'])

D:\Anaconda3\lib\site-packages\pandas\core\frame.py:4906: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

In [222]:
df_1

                            단속장소           X          Y  단속건수  number
0          서울특별시 양천구 신월동 위브캐슬부동산  126.844434  37.519668    86       0
1          서울특별시 양천구 신월동 두산위브아파트  126.845099  37.519377    94       0
2        서울특별시 양천구 신월동 아이파크위브아파트  126.841612  37.517046    83       0
3          서울특별시 양천구 신월동 롯데캐슬아파트  126.840095  37.523706    44       0
4       서울특별시 양천구 신월3동 신월3동 우체국   126.828695  37.534653    60       0
5    서울특별시 양천구 신월6동 신곡시장(백십자약국)   126.842847  37.518740   299       0
6             서울특별시 양천구 신정동 댓골마을  126.836399  37.506966   406       0
7             서울특별시 양천구 신월동 디아이빌  126.828536  37.523451    73       0
8            서울특별시 양천구 신월동 행복부동산  126.841519  37.514633    81       0
9             서울특별시 양천구 신월동 신길운수  126.838258  37.529614   414       0
10           서울특별시 양천구 신월동 한백리츠빌  126.831214  37.534603    50       0
11           서울특별시 양천구 신월동 보람더하임  126.837570  37.525075    75       0
12          서울특별시 양천구 신월동 강서초등학교  126.840941  37.522637    38       0
13        서울특별시 양천구 신정 목동우성1차아파트  126.834506  37.506090    38       0
14         서울특별시 양천구 신월동 디아이빌아파트  126.828569  37.523434    72       0
15           서울특별시 양천구 신월동 신대림빌라  126.835736  37.528014    53       0
16           서울특별시 양천구 신월동 현대부동산  126.834418  37.530760    43       0
17            서울특별시 양천구 신월동 천성교회  126.838597  37.528685   153       0
18             서울특별시 양천구 신월동 빛고을  126.838074  37.529783    53       0
19          서울특별시 양천구 신월동 코아루아파트  126.829573  37.531708    49       0
20           서울특별시 양천구 신월동 신대림주택  126.835736  37.528014    70       0
21           서울특별시 양천구 신월동 해태아파트  126.843205  37.521519    67       0
22            서울특별시 양천구 신월동 서울택시  126.823590  37.535511    85       0
23             서울특별시 양천구 신월동 금융고  126.825747  37.537388   196       0
24             서울특별시 양천구 신월동 샤르망  126.838903  37.528487    97       0
25             서울특별시 양천구 신월동 신월중  126.828963  37.541024    51       0
26           서울특별시 양천구 신월동 신월중학교  126.828963  37.541024    40       0
27           서울특별시 양천구 신월동 강서경찰서  126.830222  37.539764    98       0
28           서울특별시 양천구 신월동 대근아트빌  126.828542  37.537158    52       0
29            서울특별시 양천구 신월동 송죽공원  126.833855  37.539400   141       0
30        서울특별시 양천구 신월1동월정로31길 9  126.834302  37.526589    57       0
31            서울특별시 양천구 신월동 삼오빌딩  126.833190  37.537018    50       0
32        서울특별시 양천구 신월동 방주기픈샘아파트  126.842754  37.525654    56       0
33            서울특별시 양천구 신정동 서남병원  126.833191  37.512619    43       0
34         서울특별시 양천구 신월동 신월보람더하임  126.837134  37.524805    44       0
35          서울특별시 양천구 신월동 아이파크위브  126.838674  37.524811    62       0
36        서울특별시 양천구 신월동 서울금융고등학교  126.825599  37.537811   114       0
37            서울특별시 양천구 신월3동신원초교  126.829355  37.545372    83       1
38          서울특별시 양천구 신월동 KB국민은행  126.833930  37.534335    55       0
39             서울특별시 양천구 신월동 273  126.828015  37.537837    46       0
40      서울특별시 양천구 신월동 수명산롯데캐슬아파트  126.828413  37.544168    44       0
41        서울특별시 양천구 신월3동남부순환로58길  126.834302  37.526589    46       0
42        서울특별시 양천구 신월6동남부순환로79길  126.834302  37.526589   114       0
43  서울특별시 양천구 신월동 서울 양천구 신월동 809  126.832249  37.529000    40       0
44  서울특별시 양천구 신월동 서울 양천구 신월동 834  126.838817  37.526361    65       0
45  서울특별시 양천구 신월동 서울 양천구 신월동 263  126.828964  37.535807    54       0
46  서울특별시 양천구 신월동 서울 양천구 신월동 258  126.825086  37.539279    58       0
47  서울특별시 양천구 신월동 서울 양천구 신월동 863  126.842640  37.526672    70       0
48  서울특별시 양천구 신월동 서울 양천구 신월동 896  126.845588  37.521208    48       0
49  서울특별시 양천구 신월동 서울 양천구 신월동 630  126.842070  37.518040    45       0
50  서울특별시 양천구 신월동 서울 양천구 신월동 216  126.835559  37.526068    38       0
51       서울특별시 양천구 신월동 신월3동 우체국   126.828695  37.534653    48       0
52      서울특별시 양천구 신월1동곰달래로11길 56  126.834302  37.526589    57       0

In [225]:
k1 = df_1[df_1['단속장소'] == '서울특별시 양천구 신월3동신원초교']

k2 = df_2[df_2['단속장소'] == '서울특별시 양천구 신월동 귀족']

k3 = df_3[df_3['단속장소'] == '서울특별시 양천구 신정동 326']

k4 = df_4[df_4['단속장소'] == '서울특별시 양천구 신정동 337-16']

k5 = df_5[df_5['단속장소'] == '서울특별시 양천구 신정동 331-2']

k6 = df_6[df_6['단속장소'] == '서울특별시 양천구 목동 서울 양천구 목동 913-7']

k7 = df_7[df_7['단속장소'] == '서울특별시 양천구 목목동2차성원아파트']

In [282]:
k1

                  단속장소           X          Y  단속건수  number
37  서울특별시 양천구 신월3동신원초교  126.829355  37.545372    83       1

In [283]:
def hav_dis(df, a, b):
    h = (df['X'][a], df['Y'][a])
    j = (df['X'][b], df['Y'][b])
    dis = haversine(h,j) * 1000
    return dis

In [284]:
k1.index[0]

37

In [285]:
df['X'][k1.index[0]]

126.841519

In [286]:
hav_dis(df_1, k1.index[0], 3)

1874.1035350243992

In [287]:
k1.index[0]

37

In [304]:
for i in range(1, 8):
    globals()[f'df_{i}']['dis'] = 0

C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/4112777580.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[f'df_{i}']['dis'] = 0

In [329]:
df_1.loc[1]

단속장소      서울특별시 양천구 신월동 두산위브아파트
X                    126.845099
Y                     37.519377
단속건수                         94
number                        0
dis                           0
Name: 1, dtype: object

In [361]:
def numbering(df, x):
    for i in range(len(globals()[f'df_{x}'])):
        dis = hav_dis(df, globals()[f'k{x}'].index[0], i)
        if dis == 0:
            globals()[f'df_{x}']['dis'][i] = 0
        else:
            globals()[f'df_{x}']['dis'][i] = dis
    return globals()[f'df_{x}']

In [362]:
numbering(df_1,1)

C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/2567219855.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[f'df_{x}']['dis'][i] = dis
C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/2567219855.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[f'df_{x}']['dis'][i] = 0

,단속장소,X,Y,단속건수,number,dis
0,서울특별시 양천구 신월동 위브캐슬부동산,126.844434,37.519668,86,0,2397.412310
1,서울특별시 양천구 신월동 두산위브아파트,126.845099,37.519377,94,0,2463.321441
2,서울특별시 양천구 신월동 아이파크위브아파트,126.841612,37.517046,83,0,2328.760156
3,서울특별시 양천구 신월동 롯데캐슬아파트,126.840095,37.523706,44,0,1874.103535
4,서울특별시 양천구 신월3동 신월3동 우체국,126.828695,37.534653,60,0,718.208656
5,서울특별시 양천구 신월6동 신곡시장(백십자약국),126.842847,37.518740,299,0,2324.386943
6,서울특별시 양천구 신정동 댓골마을,126.836399,37.506966,406,0,2677.241026
7,서울특별시 양천구 신월동 디아이빌,126.828536,37.523451,73,0,1463.968156
8,서울특별시 양천구 신월동 행복부동산,126.841519,37.514633,81,0,2455.305500
9,서울특별시 양천구 신월동 신길운수,126.838258,37.529614,414,0,1443.390384
10,서울특별시 양천구 신월동 한백리츠빌,126.831214,37.534603,50,0,746.986635
11,서울특별시 양천구 신월동 보람더하임,126.837570,37.525075,75,0,1632.533325
12,서울특별시 양천구 신월동 강서초등학교,126.840941,37.522637,38,0,1989.156990
13,서울특별시 양천구 신정 목동우성1차아파트,126.834506,37.506090,38,0,2680.353523
14,서울특별시 양천구 신월동 디아이빌아파트,126.828569,37.523434,72,0,1464.882168
15,서울특별시 양천구 신월동 신대림빌라,126.835736,37.528014,53,0,1357.288476
16,서울특별시 양천구 신월동 현대부동산,126.834418,37.530760,43,0,1124.988930
17,서울특별시 양천구 신월동 천성교회,126.838597,37.528685,153,0,1514.427877
18,서울특별시 양천구 신월동 빛고을,126.838074,37.529783,53,0,1421.189939
19,서울특별시 양천구 신월동 코아루아파트,126.829573,37.531708,49,0,911.073024
20,서울특별시 양천구 신월동 신대림주택,126.835736,37.528014,70,0,1357.288476
21,서울특별시 양천구 신월동 해태아파트,126.843205,37.521519,67,0,2213.660078
22,서울특별시 양천구 신월동 서울택시,126.823590,37.535511,85,0,918.123014
23,서울특별시 양천구 신월동 금융고,126.825747,37.537388,196,0,666.451516
24,서울특별시 양천구 신월동 샤르망,126.838903,37.528487,97,0,1547.288069
25,서울특별시 양천구 신월동 신월중,126.828963,37.541024,51,0,293.100568
26,서울특별시 양천구 신월동 신월중학교,126.828963,37.541024,40,0,293.100568
27,서울특별시 양천구 신월동 강서경찰서,126.830222,37.539764,98,0,386.026828
28,서울특별시 양천구 신월동 대근아트빌,126.828542,37.537158,52,0,554.928835
29,서울특별시 양천구 신월동 송죽공원,126.833855,37.539400,141,0,639.401159
30,서울특별시 양천구 신월1동월정로31길 9,126.834302,37.526589,57,0,1367.581120
31,서울특별시 양천구 신월동 삼오빌딩,126.833190,37.537018,50,0,701.367665
32,서울특별시 양천구 신월동 방주기픈샘아파트,126.842754,37.525654,56,0,1986.873005
33,서울특별시 양천구 신정동 서남병원,126.833191,37.512619,43,0,2224.540176
34,서울특별시 양천구 신월동 신월보람더하임,126.837134,37.524805,44,0,1621.069986
35,서울특별시 양천구 신월동 아이파크위브,126.838674,37.524811,62,0,1718.239676
36,서울특별시 양천구 신월동 서울금융고등학교,126.825599,37.537811,114,0,654.528891
37,서울특별시 양천구 신월3동신원초교,126.829355,37.545372,83,1,0.000000
38,서울특별시 양천구 신월동 KB국민은행,126.833930,37.534335,55,0,894.441407
39,서울특별시 양천구 신월동 273,126.828015,37.537837,46,0,523.919738
40,서울특별시 양천구 신월동 수명산롯데캐슬아파트,126.828413,37.544168,44,0,132.000370
41,서울특별시 양천구 신월3동남부순환로58길,126.834302,37.526589,46,0,1367.581120
42,서울특별시 양천구 신월6동남부순환로79길,126.834302,37.526589,114,0,1367.581120
43,서울특별시 양천구 신월동 서울 양천구 신월동 809,126.832249,37.529000,40,0,1137.742119
44,서울특별시 양천구 신월동 서울 양천구 신월동 834,126.838817,37.526361,65,0,1647.142953
45,서울특별시 양천구 신월동 서울 양천구 신월동 263,126.828964,37.535807,54,0,639.033003
46,서울특별시 양천구 신월동 서울 양천구 신월동 258,126.825086,37.539279,58,0,624.718913
47,서울특별시 양천구 신월동 서울 양천구 신월동 863,126.842640,37.526672,70,0,1932.931287
48,서울특별시 양천구 신월동 서울 양천구 신월동 896,126.845588,37.521208,48,0,2419.323536
49,서울특별시 양천구 신월동 서울 양천구 신월동 630,126.842070,37.518040,45,0,2306.273176
50,서울특별시 양천구 신월동 서울 양천구 신월동 216,126.835559,37.526068,38,0,1460.057353
51,서울특별시 양천구 신월동 신월3동 우체국,126.828695,37.534653,48,0,718.208656
52,서울특별시 양천구 신월1동곰달래로11길 56,126.834302,37.526589,57,0,1367.581120

In [363]:
for i in range(1, 8):
    numbering(globals()[f'df_{i}'],i)

C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/2567219855.py:7: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[f'df_{x}']['dis'][i] = dis
C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/2567219855.py:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  globals()[f'df_{x}']['dis'][i] = 0

In [375]:
df_1.sort_values('dis').reset_index().drop('index', axis = 1)

,단속장소,X,Y,단속건수,number,dis
0,서울특별시 양천구 신월3동신원초교,126.829355,37.545372,83,1,0.000000
1,서울특별시 양천구 신월동 수명산롯데캐슬아파트,126.828413,37.544168,44,0,132.000370
2,서울특별시 양천구 신월동 신월중학교,126.828963,37.541024,40,0,293.100568
3,서울특별시 양천구 신월동 신월중,126.828963,37.541024,51,0,293.100568
4,서울특별시 양천구 신월동 강서경찰서,126.830222,37.539764,98,0,386.026828
5,서울특별시 양천구 신월동 273,126.828015,37.537837,46,0,523.919738
6,서울특별시 양천구 신월동 대근아트빌,126.828542,37.537158,52,0,554.928835
7,서울특별시 양천구 신월동 서울 양천구 신월동 258,126.825086,37.539279,58,0,624.718913
8,서울특별시 양천구 신월동 서울 양천구 신월동 263,126.828964,37.535807,54,0,639.033003
9,서울특별시 양천구 신월동 송죽공원,126.833855,37.539400,141,0,639.401159
10,서울특별시 양천구 신월동 서울금융고등학교,126.825599,37.537811,114,0,654.528891
11,서울특별시 양천구 신월동 금융고,126.825747,37.537388,196,0,666.451516
12,서울특별시 양천구 신월동 삼오빌딩,126.833190,37.537018,50,0,701.367665
13,서울특별시 양천구 신월3동 신월3동 우체국,126.828695,37.534653,60,0,718.208656
14,서울특별시 양천구 신월동 신월3동 우체국,126.828695,37.534653,48,0,718.208656
15,서울특별시 양천구 신월동 한백리츠빌,126.831214,37.534603,50,0,746.986635
16,서울특별시 양천구 신월동 KB국민은행,126.833930,37.534335,55,0,894.441407
17,서울특별시 양천구 신월동 코아루아파트,126.829573,37.531708,49,0,911.073024
18,서울특별시 양천구 신월동 서울택시,126.823590,37.535511,85,0,918.123014
19,서울특별시 양천구 신월동 현대부동산,126.834418,37.530760,43,0,1124.988930
20,서울특별시 양천구 신월동 서울 양천구 신월동 809,126.832249,37.529000,40,0,1137.742119
21,서울특별시 양천구 신월동 신대림빌라,126.835736,37.528014,53,0,1357.288476
22,서울특별시 양천구 신월동 신대림주택,126.835736,37.528014,70,0,1357.288476
23,서울특별시 양천구 신월3동남부순환로58길,126.834302,37.526589,46,0,1367.581120
24,서울특별시 양천구 신월6동남부순환로79길,126.834302,37.526589,114,0,1367.581120
25,서울특별시 양천구 신월1동월정로31길 9,126.834302,37.526589,57,0,1367.581120
26,서울특별시 양천구 신월1동곰달래로11길 56,126.834302,37.526589,57,0,1367.581120
27,서울특별시 양천구 신월동 빛고을,126.838074,37.529783,53,0,1421.189939
28,서울특별시 양천구 신월동 신길운수,126.838258,37.529614,414,0,1443.390384
29,서울특별시 양천구 신월동 서울 양천구 신월동 216,126.835559,37.526068,38,0,1460.057353
30,서울특별시 양천구 신월동 디아이빌,126.828536,37.523451,73,0,1463.968156
31,서울특별시 양천구 신월동 디아이빌아파트,126.828569,37.523434,72,0,1464.882168
32,서울특별시 양천구 신월동 천성교회,126.838597,37.528685,153,0,1514.427877
33,서울특별시 양천구 신월동 샤르망,126.838903,37.528487,97,0,1547.288069
34,서울특별시 양천구 신월동 신월보람더하임,126.837134,37.524805,44,0,1621.069986
35,서울특별시 양천구 신월동 보람더하임,126.837570,37.525075,75,0,1632.533325
36,서울특별시 양천구 신월동 서울 양천구 신월동 834,126.838817,37.526361,65,0,1647.142953
37,서울특별시 양천구 신월동 아이파크위브,126.838674,37.524811,62,0,1718.239676
38,서울특별시 양천구 신월동 롯데캐슬아파트,126.840095,37.523706,44,0,1874.103535
39,서울특별시 양천구 신월동 서울 양천구 신월동 863,126.842640,37.526672,70,0,1932.931287
40,서울특별시 양천구 신월동 방주기픈샘아파트,126.842754,37.525654,56,0,1986.873005
41,서울특별시 양천구 신월동 강서초등학교,126.840941,37.522637,38,0,1989.156990
42,서울특별시 양천구 신월동 해태아파트,126.843205,37.521519,67,0,2213.660078
43,서울특별시 양천구 신정동 서남병원,126.833191,37.512619,43,0,2224.540176
44,서울특별시 양천구 신월동 서울 양천구 신월동 630,126.842070,37.518040,45,0,2306.273176
45,서울특별시 양천구 신월6동 신곡시장(백십자약국),126.842847,37.518740,299,0,2324.386943
46,서울특별시 양천구 신월동 아이파크위브아파트,126.841612,37.517046,83,0,2328.760156
47,서울특별시 양천구 신월동 위브캐슬부동산,126.844434,37.519668,86,0,2397.412310
48,서울특별시 양천구 신월동 서울 양천구 신월동 896,126.845588,37.521208,48,0,2419.323536
49,서울특별시 양천구 신월동 행복부동산,126.841519,37.514633,81,0,2455.305500
50,서울특별시 양천구 신월동 두산위브아파트,126.845099,37.519377,94,0,2463.321441
51,서울특별시 양천구 신정동 댓골마을,126.836399,37.506966,406,0,2677.241026
52,서울특별시 양천구 신정 목동우성1차아파트,126.834506,37.506090,38,0,2680.353523

In [392]:
def sorting(df):
    df = df.sort_values('dis').reset_index().drop('index', axis = 1)
    return df

In [401]:
for i in range(1, 8):
    globals()[f'df_{i}'] = sorting(globals()[f'df_{i}'])

In [402]:
df_1

,단속장소,X,Y,단속건수,number,dis
0,서울특별시 양천구 신월3동신원초교,126.829355,37.545372,83,1,0.000000
1,서울특별시 양천구 신월동 수명산롯데캐슬아파트,126.828413,37.544168,44,0,132.000370
2,서울특별시 양천구 신월동 신월중학교,126.828963,37.541024,40,0,293.100568
3,서울특별시 양천구 신월동 신월중,126.828963,37.541024,51,0,293.100568
4,서울특별시 양천구 신월동 강서경찰서,126.830222,37.539764,98,0,386.026828
5,서울특별시 양천구 신월동 273,126.828015,37.537837,46,0,523.919738
6,서울특별시 양천구 신월동 대근아트빌,126.828542,37.537158,52,0,554.928835
7,서울특별시 양천구 신월동 서울 양천구 신월동 258,126.825086,37.539279,58,0,624.718913
8,서울특별시 양천구 신월동 서울 양천구 신월동 263,126.828964,37.535807,54,0,639.033003
9,서울특별시 양천구 신월동 송죽공원,126.833855,37.539400,141,0,639.401159
10,서울특별시 양천구 신월동 서울금융고등학교,126.825599,37.537811,114,0,654.528891
11,서울특별시 양천구 신월동 금융고,126.825747,37.537388,196,0,666.451516
12,서울특별시 양천구 신월동 삼오빌딩,126.833190,37.537018,50,0,701.367665
13,서울특별시 양천구 신월3동 신월3동 우체국,126.828695,37.534653,60,0,718.208656
14,서울특별시 양천구 신월동 신월3동 우체국,126.828695,37.534653,48,0,718.208656
15,서울특별시 양천구 신월동 한백리츠빌,126.831214,37.534603,50,0,746.986635
16,서울특별시 양천구 신월동 KB국민은행,126.833930,37.534335,55,0,894.441407
17,서울특별시 양천구 신월동 코아루아파트,126.829573,37.531708,49,0,911.073024
18,서울특별시 양천구 신월동 서울택시,126.823590,37.535511,85,0,918.123014
19,서울특별시 양천구 신월동 현대부동산,126.834418,37.530760,43,0,1124.988930
20,서울특별시 양천구 신월동 서울 양천구 신월동 809,126.832249,37.529000,40,0,1137.742119
21,서울특별시 양천구 신월동 신대림빌라,126.835736,37.528014,53,0,1357.288476
22,서울특별시 양천구 신월동 신대림주택,126.835736,37.528014,70,0,1357.288476
23,서울특별시 양천구 신월3동남부순환로58길,126.834302,37.526589,46,0,1367.581120
24,서울특별시 양천구 신월6동남부순환로79길,126.834302,37.526589,114,0,1367.581120
25,서울특별시 양천구 신월1동월정로31길 9,126.834302,37.526589,57,0,1367.581120
26,서울특별시 양천구 신월1동곰달래로11길 56,126.834302,37.526589,57,0,1367.581120
27,서울특별시 양천구 신월동 빛고을,126.838074,37.529783,53,0,1421.189939
28,서울특별시 양천구 신월동 신길운수,126.838258,37.529614,414,0,1443.390384
29,서울특별시 양천구 신월동 서울 양천구 신월동 216,126.835559,37.526068,38,0,1460.057353
30,서울특별시 양천구 신월동 디아이빌,126.828536,37.523451,73,0,1463.968156
31,서울특별시 양천구 신월동 디아이빌아파트,126.828569,37.523434,72,0,1464.882168
32,서울특별시 양천구 신월동 천성교회,126.838597,37.528685,153,0,1514.427877
33,서울특별시 양천구 신월동 샤르망,126.838903,37.528487,97,0,1547.288069
34,서울특별시 양천구 신월동 신월보람더하임,126.837134,37.524805,44,0,1621.069986
35,서울특별시 양천구 신월동 보람더하임,126.837570,37.525075,75,0,1632.533325
36,서울특별시 양천구 신월동 서울 양천구 신월동 834,126.838817,37.526361,65,0,1647.142953
37,서울특별시 양천구 신월동 아이파크위브,126.838674,37.524811,62,0,1718.239676
38,서울특별시 양천구 신월동 롯데캐슬아파트,126.840095,37.523706,44,0,1874.103535
39,서울특별시 양천구 신월동 서울 양천구 신월동 863,126.842640,37.526672,70,0,1932.931287
40,서울특별시 양천구 신월동 방주기픈샘아파트,126.842754,37.525654,56,0,1986.873005
41,서울특별시 양천구 신월동 강서초등학교,126.840941,37.522637,38,0,1989.156990
42,서울특별시 양천구 신월동 해태아파트,126.843205,37.521519,67,0,2213.660078
43,서울특별시 양천구 신정동 서남병원,126.833191,37.512619,43,0,2224.540176
44,서울특별시 양천구 신월동 서울 양천구 신월동 630,126.842070,37.518040,45,0,2306.273176
45,서울특별시 양천구 신월6동 신곡시장(백십자약국),126.842847,37.518740,299,0,2324.386943
46,서울특별시 양천구 신월동 아이파크위브아파트,126.841612,37.517046,83,0,2328.760156
47,서울특별시 양천구 신월동 위브캐슬부동산,126.844434,37.519668,86,0,2397.412310
48,서울특별시 양천구 신월동 서울 양천구 신월동 896,126.845588,37.521208,48,0,2419.323536
49,서울특별시 양천구 신월동 행복부동산,126.841519,37.514633,81,0,2455.305500
50,서울특별시 양천구 신월동 두산위브아파트,126.845099,37.519377,94,0,2463.321441
51,서울특별시 양천구 신정동 댓골마을,126.836399,37.506966,406,0,2677.241026
52,서울특별시 양천구 신정 목동우성1차아파트,126.834506,37.506090,38,0,2680.353523

In [405]:
df_0 = df_1.append(df_2)

In [407]:
df_0 = df_0.append(df_3)

In [408]:
df_0 = df_0.append(df_4)

In [409]:
df_0 = df_0.append(df_5)

In [410]:
df_0 = df_0.append(df_6)

In [411]:
df_0 = df_0.append(df_7)

In [413]:
df_0 = df_0.reset_index().drop('index', axis = 1)

In [418]:
for i in range(len(df_0)):
    df_0['number'][i] = df_0.index[i]

C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/2499779120.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0['number'][i] = df_0.index[i]

In [419]:
df_0

,단속장소,X,Y,단속건수,number,dis
0,서울특별시 양천구 신월3동신원초교,126.829355,37.545372,83,0,0.000000
1,서울특별시 양천구 신월동 수명산롯데캐슬아파트,126.828413,37.544168,44,1,132.000370
2,서울특별시 양천구 신월동 신월중학교,126.828963,37.541024,40,2,293.100568
3,서울특별시 양천구 신월동 신월중,126.828963,37.541024,51,3,293.100568
4,서울특별시 양천구 신월동 강서경찰서,126.830222,37.539764,98,4,386.026828
...,...,...,...,...,...,...
151,서울특별시 양천구 목3동 보미진온누리약국,126.864092,37.549530,118,151,483.127268
152,서울특별시 양천구 목동 보미진온누리약국,126.864081,37.549686,103,152,493.517662
153,서울특별시 양천구 목목동대우마이빌,126.866933,37.549534,177,153,573.649249
154,서울특별시 양천구 신정3 목동메디컬복합센터,126.873726,37.544353,167,154,1073.193345
155,서울특별시 양천구 목2동어바니엘,126.874772,37.546796,71,155,1218.361231

In [420]:
df_0.to_csv('넘버링.csv', encoding = 'cp949')

In [427]:
df_0[df_0['number'] == 3]

                단속장소           X          Y  단속건수  number         dis
3  서울특별시 양천구 신월동 신월중  126.828963  37.541024    51       3  293.100568

### x,y 좌표가 모두같은 컬럼제거

In [484]:
df_0 = pd.read_csv('넘버링.csv', encoding = 'cp949')

In [485]:
df_0['xy'] = 0

In [486]:
for i in range(len(df_0)):
    df_0['xy'][i] = df_0['X'][i],',',df_0['Y'][i]
    df_0['xy'][i] = df_0['X'][i],df_0['Y'][i]

C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/1024812809.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0['xy'][i] = df_0['X'][i],',',df_0['Y'][i]
D:\Anaconda3\lib\site-packages\pandas\core\indexing.py:1732: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  self._setitem_single_block(indexer, value, name)

In [487]:
df_0.drop('Unnamed: 0', axis = 1, inplace = True)

In [488]:
df_0

,단속장소,X,Y,단속건수,number,dis,xy
0,서울특별시 양천구 신월3동신원초교,126.829355,37.545372,83,0,0.000000,"(126.8293552, 37.54537221)"
1,서울특별시 양천구 신월동 수명산롯데캐슬아파트,126.828413,37.544168,44,1,132.000370,"(126.828413, 37.5441675)"
2,서울특별시 양천구 신월동 신월중학교,126.828963,37.541024,40,2,293.100568,"(126.828963, 37.5410238)"
3,서울특별시 양천구 신월동 신월중,126.828963,37.541024,51,3,293.100568,"(126.828963, 37.5410238)"
4,서울특별시 양천구 신월동 강서경찰서,126.830222,37.539764,98,4,386.026828,"(126.830222, 37.5397642)"
...,...,...,...,...,...,...,...
151,서울특별시 양천구 목3동 보미진온누리약국,126.864092,37.549530,118,151,483.127268,"(126.864092, 37.5495302)"
152,서울특별시 양천구 목동 보미진온누리약국,126.864081,37.549686,103,152,493.517662,"(126.8640815, 37.54968571)"
153,서울특별시 양천구 목목동대우마이빌,126.866933,37.549534,177,153,573.649249,"(126.866933, 37.5495335)"
154,서울특별시 양천구 신정3 목동메디컬복합센터,126.873726,37.544353,167,154,1073.193345,"(126.8737257, 37.54435342)"
155,서울특별시 양천구 목2동어바니엘,126.874772,37.546796,71,155,1218.361231,"(126.874772, 37.54679641)"

In [489]:
for i in range(len(df_0) -1):
    if df_0['xy'][i] == df_0['xy'][i+1]:
        df_0['단속건수'][i] += df_0['단속건수'][i+1]

df_0.drop_duplicates('xy', keep = 'first', inplace = True)

C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/1136600237.py:3: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0['단속건수'][i] += df_0['단속건수'][i+1]

In [490]:
df_0

,단속장소,X,Y,단속건수,number,dis,xy
0,서울특별시 양천구 신월3동신원초교,126.829355,37.545372,83,0,0.000000,"(126.8293552, 37.54537221)"
1,서울특별시 양천구 신월동 수명산롯데캐슬아파트,126.828413,37.544168,44,1,132.000370,"(126.828413, 37.5441675)"
2,서울특별시 양천구 신월동 신월중학교,126.828963,37.541024,91,2,293.100568,"(126.828963, 37.5410238)"
4,서울특별시 양천구 신월동 강서경찰서,126.830222,37.539764,98,4,386.026828,"(126.830222, 37.5397642)"
5,서울특별시 양천구 신월동 273,126.828015,37.537837,46,5,523.919738,"(126.8280149, 37.53783654)"
...,...,...,...,...,...,...,...
151,서울특별시 양천구 목3동 보미진온누리약국,126.864092,37.549530,118,151,483.127268,"(126.864092, 37.5495302)"
152,서울특별시 양천구 목동 보미진온누리약국,126.864081,37.549686,103,152,493.517662,"(126.8640815, 37.54968571)"
153,서울특별시 양천구 목목동대우마이빌,126.866933,37.549534,177,153,573.649249,"(126.866933, 37.5495335)"
154,서울특별시 양천구 신정3 목동메디컬복합센터,126.873726,37.544353,167,154,1073.193345,"(126.8737257, 37.54435342)"
155,서울특별시 양천구 목2동어바니엘,126.874772,37.546796,71,155,1218.361231,"(126.874772, 37.54679641)"

In [491]:
df_0.reset_index(inplace = True)
df_0.drop('index', axis = 1, inplace = True)

In [492]:
for i in range(len(df_0)):
    df_0['number'][i] = df_0.index[i]

C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/2499779120.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df_0['number'][i] = df_0.index[i]

In [493]:
df_0

,단속장소,X,Y,단속건수,number,dis,xy
0,서울특별시 양천구 신월3동신원초교,126.829355,37.545372,83,0,0.000000,"(126.8293552, 37.54537221)"
1,서울특별시 양천구 신월동 수명산롯데캐슬아파트,126.828413,37.544168,44,1,132.000370,"(126.828413, 37.5441675)"
2,서울특별시 양천구 신월동 신월중학교,126.828963,37.541024,91,2,293.100568,"(126.828963, 37.5410238)"
3,서울특별시 양천구 신월동 강서경찰서,126.830222,37.539764,98,3,386.026828,"(126.830222, 37.5397642)"
4,서울특별시 양천구 신월동 273,126.828015,37.537837,46,4,523.919738,"(126.8280149, 37.53783654)"
...,...,...,...,...,...,...,...
135,서울특별시 양천구 목3동 보미진온누리약국,126.864092,37.549530,118,135,483.127268,"(126.864092, 37.5495302)"
136,서울특별시 양천구 목동 보미진온누리약국,126.864081,37.549686,103,136,493.517662,"(126.8640815, 37.54968571)"
137,서울특별시 양천구 목목동대우마이빌,126.866933,37.549534,177,137,573.649249,"(126.866933, 37.5495335)"
138,서울특별시 양천구 신정3 목동메디컬복합센터,126.873726,37.544353,167,138,1073.193345,"(126.8737257, 37.54435342)"
139,서울특별시 양천구 목2동어바니엘,126.874772,37.546796,71,139,1218.361231,"(126.874772, 37.54679641)"

In [494]:
df_0.to_csv('단속장소_numbering.csv', encoding = 'cp949')

In [553]:
df_0['dis_to_next_num'] = 0

In [556]:
def set_dis_to_next_num(df):
    for i in range(len(df)-1):
        d = hav_dis(df, i, i+1)
        df['dis_to_next_num'][i] = d
    return df

In [557]:
set_dis_to_next_num(df_0)

C:\Users\bany9\AppData\Local\Temp/ipykernel_27344/3729039800.py:4: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['dis_to_next_num'][i] = d

,단속장소,X,Y,단속건수,number,dis,xy,dis_to_next_num
0,서울특별시 양천구 신월3동신원초교,126.829355,37.545372,83,0,0.000000,"(126.8293552, 37.54537221)",132
1,서울특별시 양천구 신월동 수명산롯데캐슬아파트,126.828413,37.544168,44,1,132.000370,"(126.828413, 37.5441675)",218
2,서울특별시 양천구 신월동 신월중학교,126.828963,37.541024,91,2,293.100568,"(126.828963, 37.5410238)",163
3,서울특별시 양천구 신월동 강서경찰서,126.830222,37.539764,98,3,386.026828,"(126.830222, 37.5397642)",277
4,서울특별시 양천구 신월동 273,126.828015,37.537837,46,4,523.919738,"(126.8280149, 37.53783654)",74
...,...,...,...,...,...,...,...,...
135,서울특별시 양천구 목3동 보미진온누리약국,126.864092,37.549530,118,135,483.127268,"(126.864092, 37.5495302)",10
136,서울특별시 양천구 목동 보미진온누리약국,126.864081,37.549686,103,136,493.517662,"(126.8640815, 37.54968571)",317
137,서울특별시 양천구 목목동대우마이빌,126.866933,37.549534,177,137,573.649249,"(126.866933, 37.5495335)",830
138,서울특별시 양천구 신정3 목동메디컬복합센터,126.873726,37.544353,167,138,1073.193345,"(126.8737257, 37.54435342)",200
139,서울특별시 양천구 목2동어바니엘,126.874772,37.546796,71,139,1218.361231,"(126.874772, 37.54679641)",0